<article class="sound-cloud-profile" data-ng-model="current_profile">
  <header>
    <hgroup>
      <h2 class="profile-avatar"><img data-ng-src="{{current_profile.avatar_url}}" alt=""></h2>
      <h3 class="profile-fullname">{{current_profile.full_name}}</h3>
    </hgroup>
  </header>
  <section class="profile-body">
    <ul class="profile-details">
      <li>{{ current_profile.city }},&nbsp;{{ current_profile.country }}</li>
      <li>Track Count:&nbsp;{{ current_profile.track_count }}</li>
      <li>Set Count:&nbsp;{{ current_profile.playlist_count }}</li> 
    </ul>
    <p>{{ current_profile.description }}</p>
    <ol 
      data-role="listview" 
      data-inset="true"
      data-icon="arrow-r"
      data-theme="a"
    >
      <!-- Tap/click on a list item displays the playback controls panel,
           and begins playback of the selected track, first stopping playback
           of any track that may be playing already.
      -->
      <li data-ng-repeat="track in current_profile.tracks">
        <a href="#player-page" class="playable" data-track-id="{{track.id}}" title="{{track.title}}">{{track.title}}</a>
      </li>
    </ol>
  </section>
  <section class="profile-connections">
    <div data-role="collapsible-set" data-mini="true"  data-theme="d">
      <div data-role="collapsible" data-collapsed="true" data-content-theme="c">
        <h4>Followers</h4>
        <ul
          data-role="listview"
          data-inset="true"
          data-icon="forward"
          data-theme="b"
        >
          <li data-ng-repeat="follower in current_profile.followers" class="profile-selector">
            <a 
              href="#" 
              class="friend-profile-link" 
              title="{{follower.full_name}}"
              data-friend-id="{{follower.id}}"
            >
              <img data-ng-src="{{follower.avatar_url}}" alt=""><strong>{{follower.full_name}}</strong>
            </a>
          </li>
        </ul>
      </div>
      <div data-role="collapsible" data-collapsed="true">
        <h4>Following</h4>
        <ul
          data-role="listview"
          data-inset="true"
          data-icon="forward"
          data-theme="b"
        >
          <li data-ng-repeat="following in current_profile.followings">
            <a 
              href="#"
              class="profile-selector"
              title="{{following.full_name}}"
              data-friend-id="{{following.id}}"
            >
              <img data-ng-src="{{following.avatar_url}}" alt=""><strong>{{following.full_name}}</strong>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</article>