@CHARSET "UTF-8";

/*
 * jQuery Mobile Overrides
 */
.ui-header .ui-title, 
  .ui-footer .ui-title
{
  font-size: 1em;
  margin: 0.6em 0 0.8em;
}

.ui-footer.ui-bar-a, 
  .ui-footer.ui-bar-b,
  .ui-footer.ui-bar-c,
  .ui-footer.ui-bar-d,
  .ui-footer.ui-bar-e
{
  font-weight: normal;
  font-family: "Courier New", monospace;
  font-size: 0.6em;
  text-align: center;
}

@media only screen and (min-width: 420px) {
	.ui-footer.ui-bar-a, 
	  .ui-footer.ui-bar-b,
	  .ui-footer.ui-bar-c,
	  .ui-footer.ui-bar-d,
	  .ui-footer.ui-bar-e
	{
	  font-size: 0.8em;
	}
}