/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


















/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}




/****************************************************************
 * 
 * Application-specific rules begin here...
 *
 ****************************************************************/

#current-track-meta-list {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: none;
}

#current-track-meta-list > li {
	display: block;
	clear: both;
	margin: 0;
	padding: 0;
	height: 24px;
	width: 100%;
	position: relative;
}

#current-track-meta-list > li.indent-level-0 {
	top: 0;
	left: 0;
}

#current-track-meta-list > li.indent-level-1 {
  top: 0;
  left: 1em;
}

#current-track-meta-list > li.indent-level-2 {
  top: 0;
  left: 2em;
}

#current-track-meta-list > li.indent-level-3 {
  top: 0;
  left: 3em;
}

#current-track-meta-list > li > span,
  #current-track-meta-list > li > div
{
	display: inline;
	float: left;
	clear: none;
}
#current-track-meta-list > li > span:last-child,
  #current-track-meta-list > li > div:last-child
{
	font-size: 0.7em;
	font-style: italic;
	height: 24px;
	line-height: 24px;
	padding: 0 0 0 12px;
	margin: 0;
}

#current-track-meta-list > li > span:first-child,
  #current-track-meta-list > li > div:first-child
{
	background-color: transparent;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	width: 24px;
	height: 24px;
	margin: 0;
	padding: 0;
}

#track-title-icon {
	background-image: url('../img/record-icon-24x24.png');
}

#track-length-icon {
	background-image: url('../img/length-icon-24x24.png');
}

#track-genre-icon {
	background-image: url('../img/genre-icon-24x24.png');
}

#track-tags-icon {
	background-image: url('../img/tag-icon-24x24.png');
}


#track-tags {
	width: 91.1%;
	position: relative;
	left: 24px;
	top: -24px;
}

 
#audio-player {
	width: 49.5%;
	height: 270px;
	float: left;
}

#current-track-info {
	width: 49.5%;
	height: 270px;
	float: right;
	text-align: center;
}

#current-track-description {
	clear: both;
	display: block;
	width: 99%;
	padding: 0.5%;
	margin: 1em 0;
	font-size: 0.6em;
	text-align: justify;
}

/*
 * Audio player controls interface rules.
 */
#audio-player a {
	width: 48px;
	height: 48px;
	margin: 0;
	padding: 0;
}

#audio-player a > span {
	background-color: transparent;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	width: 48px;
	height: 48px;
}

#play-pause-button > span.play-state {
	background-image: url('../img/play-button-48x48.png');
}
#play-pause-button > span.pause-state {
	background-image: url('../img/pause-button-48x48.png');
}
#rewind-button > span {
	background-image: url('../img/rewind-button-48x48.png');
}

#stop-button > span {
  background-image: url('../img/stop-button-48x48.png');
}

#forward-button > span {
  background-image: url('../img/forward-button-48x48.png');
}

#volume-button > span {
	background-image: url('../img/volume-button-48x48.png');
}

#volume-controls {
	opacity: 0;
	position: relative;
	top: -24px;
	left: 48px;
	height: 6px;
	width: 0px;
	border-style: solid;
	border-width: 1px;
	border-color: #600;
	background-color: #600;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: width 2s, opacity 2s;
	-moz-transition: width 2s, opacity 2s;
	-ms-transition: width 2s, opacity 2s;
	-o-transition: width 2s, opacity 2s;
	transition: width 2s, opacity 2s;
}

#volume-controls.shown {
	opacity: 1;
	width: 60%;
	-webkit-transition: width, opacity 2s;
	-moz-transition: width 2s, opacity 2s;
	-ms-transition: width 2s, opacity 2s;
	-o-transition: width 2s, opacity 2s;
	transition: width 2s, opacity 2s;
}

#volume-scrubber {
	background-image: linear-gradient(left top, rgb(2,73,0) 1%, rgb(89,255,60) 50%, rgb(3,199,0) 36%);
  background-image: -o-linear-gradient(left top, rgb(2,73,0) 1%, rgb(89,255,60) 50%, rgb(3,199,0) 36%);
  background-image: -moz-linear-gradient(left top, rgb(2,73,0) 1%, rgb(89,255,60) 50%, rgb(3,199,0) 36%);
  background-image: -webkit-linear-gradient(left top, rgb(2,73,0) 1%, rgb(89,255,60) 50%, rgb(3,199,0) 36%);
  background-image: -ms-linear-gradient(left top, rgb(2,73,0) 1%, rgb(89,255,60) 50%, rgb(3,199,0) 36%);

  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0.01, rgb(2,73,0)),
    color-stop(0.5, rgb(89,255,60)),
    color-stop(0.36, rgb(3,199,0))
  );
  border-style: solid;
  border-width: 1px;
  border-color: #600;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 64%;
  top: -4px;
  height: 0.75em;
  width: 0.75em;
}

#audio-player-gutter {
	width: 91.5%;
	height: 0.75em;
	position: relative;
	background-color: #333;
	margin-top: 0.75em;
	border-style: solid;
	border-width: 0.2em;
	border-color: #333;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	-o-border-radius: 0.2em;
	-ms-border-radius: 0.2em;
	border-radius: 0.2;
}

#audio-player-loaded-indicator {
  width: 0;
  height: 0.75em;
  background-color: #600;
  border-style: solid;
  border-color: #600;
  border-width: 0.1em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.125em;
  margin: 0;
  padding: 0;	
}

#audio-player-scrubber {
	position: absolute;
	top: -0.375em;
	left: 0;
	width: 1.5em;
	height: 1.5em;
	border-style: solid;
	border-width: 0.1em;
	border-color: #600;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background-image: linear-gradient(left top, rgb(2,73,0) 1%, rgb(89,255,60) 50%, rgb(3,199,0) 36%);
	background-image: -o-linear-gradient(left top, rgb(2,73,0) 1%, rgb(89,255,60) 50%, rgb(3,199,0) 36%);
	background-image: -moz-linear-gradient(left top, rgb(2,73,0) 1%, rgb(89,255,60) 50%, rgb(3,199,0) 36%);
	background-image: -webkit-linear-gradient(left top, rgb(2,73,0) 1%, rgb(89,255,60) 50%, rgb(3,199,0) 36%);
	background-image: -ms-linear-gradient(left top, rgb(2,73,0) 1%, rgb(89,255,60) 50%, rgb(3,199,0) 36%);

	background-image: -webkit-gradient(
	  linear,
	  left top,
	  right bottom,
	  color-stop(0.01, rgb(2,73,0)),
	  color-stop(0.5, rgb(89,255,60)),
	  color-stop(0.36, rgb(3,199,0))
	);
}

.disabled-button {
	opacity: 0.5;
}

.hidden-button {
	display: none;
	opacity: 0;
	-webkit-transition: opacity 2s ease 0s;
	-moz-transition: opacity 2s ease 0s;
	-ms-transition: opacity 2s ease 0s;
	-o-transition: opacity 2s ease 0s;
	transition: opacity 2s ease 0s;
}

.shown-button {
  display: block;
  opacity: 1;	
}

/*
 * Hi-res device rule adjustments for the audio playback controls.
 */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 144dpi)
{
	
	/*
	 * Adjust the width/height of the player control buttons to 96x96 pixels,
	 * and use the high-density 96x96 images.
	 */

  #current-track-meta-list > li {
	  height: 48px;
	}
  
  /* #current-track-meta-list > li.indent-level-0 {
	  top: 0;
	  left: 0;
	}
	
	#current-track-meta-list > li.indent-level-1 {
	  top: 0;
	  left: 48px;
	}
	
	#current-track-meta-list > li.indent-level-2 {
	  top: 0;
	  left: 96px;
	}
	
	#current-track-meta-list > li.indent-level-3 {
	  top: 0;
	  left: 144px;
	} */
		
	#current-track-meta-list > li > span:last-child {
	  height: 48px;
	  line-height: 48px;
	}
	
	#current-track-meta-list > li > span:first-child {
	  width: 48px;
	  height: 48px;
	}
	  	 
	#track-title-icon {
	  background-image: url('../img/record-icon-retina-48x48.png');
	}
	
	#track-length-icon {
	  background-image: url('../img/length-icon-retina-48x48.png');
	}
	
	#track-genre-icon {
	  background-image: url('../img/genre-icon-retina-48x48.png');
	}
	
	#track-tags-icon {
	  background-image: url('../img/tag-icon-retina-48x48.png');
	}
  
	#audio-player a {
	  width: 96px;
	  height: 96px;
	}
  #rewind-button > span {
    background-image: url('../img/rewind-button-retina-96x96.png');
  }
  #play-pause-button > span.play-state {
    background-image: url('../img/play-button-retina-96x96.png');
  }
  #play-pause-button > span.pause-state {
    background-image: url('../img/pause-button-retina-96x96.png');
  }
  #stop-button > span {
    background-image: url('../img/stop-button-retina-96x96.png');
  }
  #forward-button > span {
    background-image: url('../img/forward-button-retina-96x96.png');
  }
  
  /*
   * Double the height of the gutter to account for the pixel density
   * of retina devices.
   */
  #audio-player-gutter {
    height: 24px;
  }
  
  /*
   * Double the height of the playback position scrubber, and
   * adjust its top positioning to account for the pixel density
   * of retina devices.
   */
  #audio-player-scrubber {
    height: 48px;
    top: -24px;
  }
}

/*
 * Layout rules.
 */
 
main {
	width: 100%;
	height: 100%;
}

#splash {
	width: 99.5%;
	height: 100%;
	text-align: center;
}

.transparent {
	opacity: 0;
	-webkit-transition: opacity 2s ease 0s;
	-moz-transition: opacity 2s ease 0s;
	-ms-transition: opacity 2s ease 0s;
	-o-transition: opacity 2s ease 0s;
	transition: opacity 2s ease 0s;
}

.opaque {
	opacity: 1;
}

#splash-content > div {
	width: 128px;
	height: 86px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -43px;
  margin-left: -64px;
  background-image: url('../img/soundcloud_logo.png');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  background-color: transparent;
  -webkit-transition: -webkit-transform 2s, width 2s, height 2s, opacity 2s;
  -moz-transition: -moz-transform 2s, width 2s, height 2s, opacity 2s;
  -ms-transition: -ms-transform 2s, width 2s, opacity 2s;
  -o-transition: -o-transform 2s, width 2s, height 2s, opacity 2s;
  transition: transform 2s, width 2s, height 2s, opacity 2s;
}

.rotate-out {
  width: 0;
  height: 0;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  opacity: 0;
}
#profile {
	width: 99.5%;
	text-align: left;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi)
{
	#splash-content > div {
	  width: 256px;
	  height: 172px;
	  margin-top: -86px;
	  margin-left: -128px;
	  background-image: url('../img/soundcloud_logo-retina.png');
	}
}
@media only screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 144dpi)
{
    
}

@media only screen and (min-width: 640px) {
  	
}

/*
 * For screen min-width: 800px layout the page as a centered column
 * 640px wide.
 */
@media only screen and (min-width: 800px) {
  main {
    text-align: center;
  }
  #profile {
    width: 640px;
    margin: 0 auto;
  }
}

/*
 * For screen min-width: 800px, and hi-res device, layout the page as full width.
 */
@media only screen and (min-width: 800px) and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-width: 800px) and (min-resolution: 144dpi) 
{
  main {
    text-align: left;
  }
  #profile {
    width: 99.5%;
    margin: 0;
  }
}

/*
 * For screen min-width: 960px, and hi-res device, layout the page as a centered column
 * that is 800px wide.
 */
@media only screen and (min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-width: 960px) and (min-resolution: 144dpi)
{
	main {
	  text-align: center;
	}
	#profile {
	  width: 800px;
	  margin: 0 auto;
	}
}

ul.profile-details {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
